.category-section {
    .sub-category {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        font-size: 16px;
        color: #414141;
        padding-bottom: 40px;
        .pro_not_found {
            max-width: 100%;
            width: 100%;
        }
    }
}
.filter-content {
    .brands-items {
        .amshopby-slider-display {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}
.filter-current-block {
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
    .block-subtitle {
        margin: 15px 0;
        text-transform: uppercase;
    }
    .filter-items {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
    }
    .filter-item {
        line-height: 16px;
        margin: 0 10px 7px 0;
        flex-wrap: wrap;
        display: inline-flex;
        .filter-close {
            margin-right: 10px;
        }
    }
    .filter-value {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #414141;
        margin: 0;
    }
    .close-icon {
        font-size: 14px;
        color: $gray05;
        &:hover {
            color: $black;
        }
    }
    .current-filter-clear {
        margin-bottom: 20px;
        .submit {
            background: #DE1F16;
            font-weight: 600;
            font-size: 14px;
            padding: 3px 10px;
            text-transform: uppercase;
            color: #fff;
            max-width: 100%;
            width: 100%;
            transition: all 0.3s ease-in-out;
            border: 2px solid #DE1F16;
        }
    }
}
/* sidebar */
.sidebar {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 26.8%;
    flex: 0 0 26.8%;
    margin-right: 2%;
    .filter {
        max-width: 100%;
        width: 100%;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    }
    .filter-content {
        position: relative;
        h4 {
            margin: 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            color: $white;
        }
    }
    .shopping-title {
        padding: 14px 0 14px 15px;
        background: $primary;
        position: relative;
        &:focus {
            outline: none;
        }
        i {
            position: absolute;
            right: 18px;
            top: 17px;
            font-size: 20px;
            line-height: 20px;
            color: $white;
            font-weight: 300;
        }
    }
    .shopping-title.not-collapsed .fa-filter {
        display: none;
    }
    .shopping-title.not-collapsed a::after {
        content: "\f00d";
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 18px;
        top: 17px;
        font-size: 20px;
        line-height: 20px;
        color: $white;
        font-weight: 300;
    }
    .filter-options-item {
        border-bottom: 1px solid $gray06;
        max-width: 100%;
        .filter-options-title {
            padding: 14px 15px;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: $secondary;
            font-weight: 400;
            position: relative;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            .fa-chevron-down {
                position: absolute;
                right: 15px;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;
            }
            .price-display {
                text-align: center;
                padding-top: 15px;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: $secondary;
                }
            }
        }
        .filter-options-title.not-collapsed i {
            transform: rotate(180deg);
        }
    }
    .brands-items {
        max-width: 100%;
        margin: 0 auto 0 0;
        padding: 0 15px;
        width: 100%;
        margin-bottom: 25px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            .item {
                position: relative;
                padding-bottom: 3px;
                .filter-item {
                    position: relative;
                }
                .label-radio {
                    font-weight: 400;
                    font-size: 12px;
                    color: $black;
                    margin-bottom: 4px;
                    line-height: 21px;
                }
                .input-radio:focus {
                    outline: none;
                }
                .input-radio {
                    display: none;
                }
                .input-radio:not(:checked)+.label-radio:before,
                .input-radio:checked+.label-radio:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 14px;
                    height: 14px;
                    border: 1px solid $primary;
                    border-radius: 50%;
                    background: #fff;
                }
                .input-radio:checked+.label-radio:after {
                    content: '';
                    background: $red01;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    border-radius: 100%;
                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    padding: 4px;
                }
                .input-radio:checked+.label-radio,
                .input-radio:not(:checked)+.label-radio {
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    line-height: 15px;
                    display: inline-block;
                }
                .check-input {
                    padding: 0;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    opacity: 0;
                }
                .check-input:focus {
                    outline: none;
                }
                .check-label {
                    position: relative;
                    cursor: pointer;
                    margin-bottom: 3px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: $secondary;
                }
                .check-label:before {
                    content: "";
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: 1px solid $gray02;
                    padding: 7px;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: 15px;
                }
                .check-input:checked+.check-label:before {
                    content: "";
                    border: 1px solid $primary;
                    color: $primary;
                    background-color: transparent;
                }
                .check-input:checked+.check-label:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    width: 5px;
                    height: 9px;
                    border: 1px solid $primary;
                    border-width: 0 1px 1px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .price-range {
        padding: 0 36px;
        margin-top: 24px;
        margin-bottom: 14px;
        .price-display {
            padding-top: 14px;
            text-align: center;
        }
    }
}
.filter-options-item .filter-options-title.collapsed .brands-items {
    display: none;
}
.sub-category-list {
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    max-width: 71.2%;
    flex: 0 0 71.2%;
    .page-title {
        margin-bottom: 10px;
    }
}

.top-toolbar {
    .field.limiter {
        display: none;
    }
}

.bottom-toolbar {
    .pagination {
        display: none;
    }
}
.pagination {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    span {
        font-size: 16px;
        line-height: 22px;
        color: $secondary;
        font-weight: 400;
    }
}
.right-side {
    .toolbar-sorter-wrapper {
        border: 1px solid $gray06;
        min-width: 149px;
        position: relative;
        cursor: pointer;
        .label-arw {
            position: absolute;
            right: 17px;
            top: 8px;
            font-weight: 400;
            color: $secondary;
            font-size: 14px;
            line-height: 18px;
        }
        .sorter-label-mobile {
            padding: 6px 17px;
            font-size: 16px;
            line-height: 22px;
            color: #616161;
            white-space: nowrap;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        .sortby-content {
            position: absolute;
            width: 100%;
            z-index: 20;
            border-top: 1px solid $gray06;
        }
        .sorter-label-mobile.not-collapsed {
            i {
                transform: rotate(180deg);
            }
        }
        .sorter-label-mobile.collapsed .collapse.show {
            height: 0 !important;
        }
        .child-tab {
            padding: 6px 17px;
            background: white;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
            width: 100%;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 4px;
                }
            }
        }
        .selectedOption {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #616161;
            width: 100%;
            text-align: left;
            position: relative;
            cursor: pointer;
        }
    }
}
.main-subcategory {
    margin-top: 25px;
    .product-items {
        grid-gap: 25px;
        gap: 25px;
        -webkit-grid-gap: 25px;
        display: grid;
        display: -webkit-grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        -ms-grid-columns: repeat(auto-fill, minmax(210px, 1fr));
        -webkit-grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
}
.limiter {
    .space-box {
        text-align: right;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
        -ms-flex-pack: end;
        margin-top: 40px;
        a {
            padding: 3px 10px;
            border: 1px solid $secondary;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $secondary;
            margin-right: 5px;
            &.last-item{
               margin-right: 0; 
            }
            &:hover {
                background: $primary;
                border: 1px solid $primary;
                color: $white;
                box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.25);
            }
            i {
                font-weight: 400;
            }
        }
        .active {
            background: $primary;
            border: 1px solid $primary;
            color: $white;
            box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.25);
        }
        .hide {
            display: none;
        }
    }
}
.filter-content{
    .price-slider{
        max-width: 90%;
        margin: 0 auto;
        .vue-slider.vue-slider-ltr{
            height: 8px !important;
        }
        .vue-slider-rail{
            background-color: #bebebe;
        }
        .vue-slider-process{
            background-color: $primary;
        }
        .vue-slider-dot{
            width: 18px !important;
            height: 18px !important;
        }
        .vue-slider-dot-handle{
            border: 4px solid $primary;
        }
        .vue-slider-dot-handle-focus {
            border-color: #DE1F16 !important;
            box-shadow: 0 0 0 5px rgba(222, 31, 22, 0.28) !important;

        }
        .vue-slider {
            &:hover{
                .vue-slider-dot-handle{
                    border-color: #DE1F16 !important;
                }
                 .vue-slider-process{
                    background-color: #DE1F16 !important;
                 }
            }

        }
    }
}
@media (min-width: 769px) {
    .sidebar {
        .shopping-title.not-collapsed {
            .fa-filter {
                display: block;
            }
            a::after {
                content: "";
                width: 0;
                height: 0;
            }
        }
        .filter-collapse-content {
            display: block !important;
            height: auto !important;
        }
    }
}
@media (max-width: 992px) {
    .sidebar {
        width: 100%;
        max-width: 29.8%;
        flex: 0 0 29.8%;
        .filter {
            .filter-content {
                h4 {
                    font-size: 14px;
                    line-height: 19px;
                }
                .shopping-title i {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
    .sub-category-list {
        width: 100%;
        max-width: 68.2%;
        flex: 0 0 68.2%;
        .page-title {
            margin-top: 12px;
            margin-bottom: 15px;
        }
    }
    .sub-category-section {
        .container {
            max-width: 100%;
            padding: 0 17px;
        }
    }
    .main-subcategory {
        margin-top: 32px;
        .product-items {
            grid-gap: 15px;
            gap: 15px;
            -webkit-grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
            -ms-grid-columns: repeat(auto-fill, minmax(212px, 1fr));
            -webkit-grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
        }
    }
}
@media (max-width: 768px) {
    .category-section {
        .sub-category {
            flex-direction: column;
            -ms-flex-direction: column;
            margin-bottom: 0;
            padding-bottom: 30px;
        }
    }
    .sub-category-section {
        border-bottom: 10px solid $gray01;
        .container {
            padding: 0 17px;
            max-width: 100%;
        }
        .sub-category {
            display: inline-block;
        }
    }
    .sidebar {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        .filter {
            max-width: 100%;
            .filter-content {
                .shopping-title {
                    padding: 10px 0 10px 15px;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                    i {
                        top: 12px;
                        right: 15px;
                    }
                }
                .shopping-title.not-collapsed .fa-filter{
                    display: block;
                }
                .shopping-title.not-collapsed a::after {
                    top: 9px;
                }
            }
        }
        .price-slider input[type="range"] {
            max-width: 100%;
        }
    }
    .pagination {
        display: none;
    }
    .sub-category-list {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 0;
        .page-title {
            margin-bottom: 0;
            margin-top: 15px;
        }
    }
    .main-subcategory {
        margin-top: 20px;
        .product-items {
            grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
            -ms-grid-columns: repeat(auto-fill, minmax(40%, 1fr));
            -webkit-grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        }
    }
    .limiter {
        .space-box {
            text-align: center;
            flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 30px;
            a {
                font-size: 14px;
            }
        }
    }
    .filter-current-block {
        line-height: 16px;
        .block-subtitle {
            font-size: 14px;
        }
        .filter-item .filter-close {
            margin-right: 8px;
        }
        .filter-items {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 480px) {
    .products-grid {
        .product-img {
            padding: 10px;
        }
    }
    .main-subcategory {
        .product-items {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            -ms-grid-columns: repeat(auto-fill, minmax(100%, 1fr));
            -webkit-grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
    }
}
@media screen and (max-width: 530px) and (min-width: 480px) {
    .products-grid {
        .product-item-details {
            .add-to-cart{
                .submit{
                       font-size: 12px;
                }
            }
        }
    }
  }
