.sitemap-wrapper {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 70vh;
    min-height: -webkit-fill-available;
    .coming_soon {
        font-size: clamp(30px, 10vw, 70px);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 25px;
        &:after{
                content: "";
                width: 30%;
                border: 1px solid #de1f16;
                display: block;
                margin: 0 auto;
                margin-top: 10px;
        }
    }
    .home-link {
        color: #de1f16;
        font-weight: 400;
        font-size: 16px;
    }
    p.working-txt {
        font-size: clamp(14px, 4vw, 20px);
    }
}
